RewriteEngine on
RewriteBase /cricketgali
RewriteRule ^home$ profile.php [L]
RewriteRule ^contact$ contact_info.php [L]
RewriteRule ^my_teams$ my_teams.php [L]
RewriteRule ^my_clubs$ my_clubs.php [L]
RewriteRule ^messages$ messages.php [L]
RewriteRule ^settings$ settings.php [L]
RewriteRule ^cricket_profile$ cricket_profile.php [L]
RewriteRule ^upload_photo$ upload_photo.php [L]
RewriteRule ^livescore$ live_score.php [L]
RewriteRule ^page/contact_us.html$ contact_us.php [L]
RewriteRule ^page/([^/\.]+)/?\.(html|htm)$ pages.php?page_uri=$1 [L]
RewriteRule ^cricketer/([^/\.]+)/?\.(html|htm)$ cricketers.php?cricketer_id=$1 [L]
RewriteRule ^cricketers-list$ cricketers_list.php [L]

RewriteRule ^([^/\.]+)_in_([^/\.]+)/?\.(html|htm)$ $1-in-$2 [R]
RewriteRule ^([^/\.]+)-in-([^/\.]+)$ general_content.php?content_type=$1&country=$2 [L]
RewriteRule ^([^/\.]+)-in-([^/\.]+)/page/([^/\.]+)$ general_content.php?content_type=$1&country=$2&page=$3 [L]

RewriteRule ^state/([^/\.]+)_in_([^/\.]+)/?\.(html|htm)$ state/$1-in-$2 [R]
RewriteRule ^state/([^/\.]+)-in-([^/\.]+)$ general_content.php?content_type=$1&state=$2 [L]
RewriteRule ^state/([^/\.]+)-in-([^/\.]+)/page/([^/\.]+)$ general_content.php?content_type=$1&state=$2&page=$3 [L]

RewriteRule ^city/([^/\.]+)-in-([^/\.]+)/?\.(html|htm)$ city/$1-in-$2 [R]
RewriteRule ^city/([^/\.]+)-in-([^/\.]+)$ general_content.php?content_type=$1&city=$2 [L]
RewriteRule ^city/([^/\.]+)-in-([^/\.]+)/page/([^/\.]+)$ general_content.php?content_type=$1&city=$2&page=$3 [L]

